
  <div class="container py-5">
    @each(getnw in news)
    <div class="row py-4 navbar-custom">
      <div class="col-12">
        <h2>{{ getnw.title }}</h2>
        <p><small>Por <b>{{ getnw.writer }}</b> em {{ Date(getnw.created_at) }}</small></p>
      </div>
      <div class="col-12">
        {{{ getnw.content  }}}
      </div>
    </div>
    <br>
    @endeach
  </div>
